// Sass for videojs-player-debugger

.vjs-playlist-button {
    font-family: VideoJS;

}

.vjs-playlist-button:before {
    content: "\f10e";
}

.vjs-playlist-button:hover, .playlistModal:hover{
    .playlistModal {
        position: absolute;
        display: block;
        cursor: pointer;
        visibility: visible;
        height: 20em;
        width: 20em;
    }

}

.vjs-menu.playlistModal li {
    justify-content: center;
    border-style: solid;
}

.vjs-playlist-title {
    background-color: #151B17;
    margin: 0.3em 0;
    padding: 0.5em;
    border-radius: 0.3em;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    text-transform: lowercase;
}

.video-js {}
